body {

    background-image: url(arabalar.jpg);
    background-size: 100% ;
}

.parameters p{
    margin-top: 50px;
}

.parameters {
    background-color: rgba(235, 227, 223, 0.582);
    border-radius: 7px;
    width: 800px;
    height: max-content;
    font: 2em "Fira Sans", sans-serif;
    margin-left: 4vh;
    text-align: center;
    color: darkslategray;
}

input[type="range"] {
    margin-left: 10px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 8px;
    height: 10px;
    color: red;
}


.input span{
    position: absolute;
    margin-left: 2%;
}

.input button{
    background-color: rgba(29, 179, 66, 0.3);
    width: 15vh;
    height: 3vh;
    border: none;
    border-radius: 9px;
    margin-bottom: 20px;
}